/* globals.css */
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


/* Variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: "Geist Sans", Arial, Helvetica, sans-serif;
  --font-mono: "Geist Mono", monospace;
  --text-primary: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --text-primary: #ededed;
}
/* Body Global Styles */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
/* Logo Font */
.logo-font {
  font-family: "Playfair Display", serif;
}

/* Headings Font */
.heading-font {
  font-family: "Montserrat", sans-serif;
}

/* Body Font */
.body-font {
  font-family: "Inter", sans-serif;
}
